#----------------------------------------------------------------------------------
# Project Name      - $HOME/.inputrc
# Started On        - Tue 16 Jan 22:16:00 GMT 2018
# Last Change       - Wed 14 Mar 21:50:06 GMT 2018
# Author E-Mail     - terminalforlife@yahoo.com
# Author GitHub     - https://github.com/terminalforlife
#----------------------------------------------------------------------------------

set bell-style audible
set colored-stats On
set comment-begin '#'
set completion-ignore-case On
set completion-prefix-display-length 0
set completion-query-items 50
set convert-meta On
set disable-completion Off
set editing-mode emacs
set echo-control-characters On
set enable-keypad Off
set enable-meta-key On
set expand-tilde Off
set history-preserve-point Off
set history-size 1000
set horizontal-scroll-mode Off
set input-meta Off
set isearch-terminators 'C-[C-J'
set keymap emacs
set keyseq-timeout 500
set mark-directories On
set mark-modified-lines Off
set mark-symlinked-directories On
set match-hidden-files Off
set menu-complete-display-prefix Off
set output-meta Off
set page-completions Off
set print-completions-horizontally On
set revert-all-at-newline Off
set show-all-if-ambiguous On
set show-all-if-unmodified On
set show-mode-in-prompt Off
set skip-completed-text On
set visible-stats On

$if mode=emacs
	"\e[1~": beginning-of-line
	"\e[4~": end-of-line
	"\e[3~": delete-char
	"\e[2~": quoted-insert
	"\e[1;5C": forward-word
	"\e[1;5D": backward-word
	"\e[5C": forward-word
	"\e[5D": backward-word
	"\e\e[C": forward-word
	"\e\e[D": backward-word
$endif

